<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://unpkg.com/aframe-animation-component@^4.1.2/dist/aframe-animation-component.min.js"></script>
<script>
    AFRAME.registerComponent("foo", {
        init: function () {
            let anim = document.querySelector("a-animation")

            this.el.addEventListener("click", (e) => {
                console.log("hello")
                this.el.emit("bar")
                anim.emit("fallclick")
            })

        }
    })
</script>
<a-scene cursor="rayOrigin:mouse">
    <a-cylinder position="0 0 -2" color="#F55" radius="1" foo
        animation="property: scale; to: 2 2 2; delay: 500; startEvents: bar;">

        <a-animation attribute="rotation" to="360 0 0" delay="500" dur="1000" begin="fallclick"></a-animation>

    </a-cylinder>

</a-scene>