body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.app {
    height: 55vh;
    width: 50vw;
    background-color: #faf3ddde;
    // background-color: #64958fce;
    border-radius: 30px;
    box-shadow: 10px 10px 8px 10px rgba(112, 111, 111, 0.15);
    // border: 1px solid #64958fc4;
    display: grid;
    place-items: center;

    @media (orientation: portrait) {
        height: 45vh;
        width: 80vw;
    }
}

a-scene {
    height: 90% !important;
    width: 90% !important;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6vw;

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

button {
    background-color: #64958fce;
    padding: 1.2rem 1.8rem;
    margin: 1vw;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    // box-shadow: 3px 3px 2px 3px rgba(112, 111, 111, 0.05);
    text-align: center;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &:hover {
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 7px 10px 0 rgba(0, 0, 0, 0.19);
    }

    &:active {
        transform: scale(0.97);
    }
}